.product-list {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}


/* стили для LG */
@media (max-width: 1200px) {
    .product-list {
        width: 65%;
    }
}

@media (max-width: 768px) {
    .product-list {
        width: 55%;
    }
}


@media (max-width: 576px) {
    .product-list {
        width: 50%;
    }
}

@media (max-width: 450px) {
    .product-list {
        width: 100%;
    }
}
